:root {
  --main-color: #6dc4e2;
  --bg-color: #f5f5f5;
}

.flex_c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scroll {
  min-height: 120%;
}
input,
textarea {
  border-radius: 6px;
  border: solid 1px #6dc4e2;
  background-color: #fff;
}
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}
input[type="radio"] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #8d8d8d;
  border-radius: 50%;
  outline: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
input[type="radio"]:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
input[type="radio"]:checked {
  border: 2px solid var(--main-color);
}
input[type="radio"]:checked:before {
  background: var(--main-color);
}
input[type="date"]::-webkit-inner-spin-button {
  opacity: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../img/icon_calendar.png) center/100% no-repeat;
  color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  background: url("../img/check_none.png") 0 0 no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 8px;
}
input[type="checkbox"]:checked + label {
  background: url("../img/checked.png") 0 0 no-repeat;
  background-size: cover;
}

.form_row {
  display: flex;
  flex-direction: row;
}
.select_wrap {
  border-radius: 6px;
  border: solid 1px #6dc4e2;
  background-color: #fff;
}
select {
  padding: 0 10px 0 12px;
  height: 28px;
  border: none;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  background: url("../img/arrow_down.png") no-repeat 90% 50%/8px auto;
  font-weight: 700;
  font-size: 14px;
}
select::-ms-expand {
  display: none; /*for IE10,11*/
}
select:focus {
  outline: none;
  font-weight: 700;
}

.add_btn {
  width: 36px;
  height: 36px;
  background: url(../img/add_btn.png) no-repeat center center / cover;
}

.delete {
  width: 24px;
  height: 24px;
  border: none;
  background: url(../img/delete.png) no-repeat center center / cover;
}
